<h1 id="tableLabel">Delphi 5 para Revisão</h1>

<p>Estes são os projetos que foram selecionados pelos Coordenadores para revisão.</p>

<p *ngIf="!projects"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="projects">
  <thead>
    <tr>
      <th></th>
      <th>As sugestões de alterações estão <code>em vermelho</code></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.project }}</td>
      <td>
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="project.tecnicDebits">
          <tbody>
            <tr *ngFor="let debit of project.tecnicDebits">
              <td>
                {{ debit.description }}
                <code>{{ debit.suggestion }}</code>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
