<h1 id="tableLabel">Delphi 5 para Revisão</h1>

<p>Estes são os projetos que foram selecionados pelos Coordenadores para revisão.</p>

<p *ngIf="!projects"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="projects">
  <thead>
    <tr>
      <th>Delphi 5</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.project }}</td>
      <td>
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="project.compilation">
          <tbody>
            <tr *ngFor="let linha of project.compilation">
              <td>{{ linha }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
