<h1>Revisor de Qualidade de Código-Fonte</h1>
<p>Aluno: Matheus Eduardo Carvalho Totte - Prof: João Paulo Faria</p>
<p>
  O objetivo deste projeto é, <code>em dois meses</code>,
  construir uma POC que identifique os <code>débitos técnicos mais simples de um código-fonte escrito em Object Pascal</code>
  (hints e warnings de compilação) e que faça <code>sugestões de alterações seguras</code>.
  Com a implantação da aplicação pretende-se <code>reduzir a zero o número desses problemas mais simples</code>
  a fim de abrir caminho para um extenso e profundo projeto de <code>melhoria de qualidade de código-fonte</code>.
</p>
<ul>
  <li>O objetivo é específico porque se trata da construção de uma aplicação.</li>
  <li>O objetivo é mensurável porque estabelece o alvo de zerar hints e warnings de um código-fonte Object Pascal.</li>
  <li>O objetivo é atingível porque o escopo está bem reduzido.</li>
  <li>O objetivo é relevante porque entregará melhoria de qualidade de código-fonte.</li>
  <li>O objetivo é temporal porque planeja um trabalho dois meses.
</ul>
